:root {
  --primary: #00bb31;
  --secondary: #0039a6;
  --blue: #2f4a9f;
  --secondaryrgb: rgb(0, 57, 166);
  --light: #fbfbfb;
  --white: #fff;
  --error: #d93549;
  --silver: #e5e5e5;
  --gray: #9b9b9b;
  --text: #333;
  --aqua: #e5f6ed;
  --sky: #ccd7ed;
  --semiwhite: #f3f6fb;
  --skydark: #6688ca;
  --dark: #0f191e;
  --darkrgb: rgb(15, 25, 30);
  --blackrgb: rgb(15, 25, 30);
}

// Checkbox variables
$checkbox-size: 16px;
$checkbox-animation-ripple: 700ms;
$checkbox-animation-check: 0.3s;
$lightbg-text: rgba(0, 0, 0, 0.84);

@mixin screen-max($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin screen-min($min) {
  @media (min-width: $min) {
    @content;
  }
}

.mk {
  &-medium {
    font-family: 'Omnes', sans-serif;
    font-weight: 500;
  }

  &-semibold {
    font-family: 'Omnes', sans-serif;
    font-weight: 600;
  }

  &-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;

    @include screen-max(1023px) {
      padding: 0 24px;
    }
  }

  &-sronly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
  }

  &-input {
    &--linebottom {
      font-size: 15px;
      width: 100%;
      display: block;
      line-height: 32px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
    }

    &--error {
      color: var(--error);
      font-size: 12px;
    }
  }

  &-list {
    &--decimal {
      padding-left: 20px;
      list-style: decimal;
    }

    &--disc {
      li {
        position: relative;
        padding-left: 20px;

        &:before {
          display: flex;
          position: absolute;
          content: '·';
          font-size: 30px;
          line-height: 20px;
          left: 6px;
          top: 2px;
        }
      }
    }
  }

  &-radio {
    &--material {
      display: flex;
      position: relative;
      font-size: 15px;
      margin-bottom: 12px;

      input[type='radio'] {
        font-size: 1.25em;
        margin: 0;
        z-index: -1;
        appearance: none;
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        left: 0;
        top: 0;
        border: solid 2px transparent;
        transform: scale(2);
        transform-origin: center center;
        opacity: 0;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
      }

      input[type='radio']:focus {
        outline: none;
      }

      input[type='radio']:checked {
        background-color: var(--primary);
      }

      input[type='radio']:checked + label::before {
        border-color: var(--primary);
      }

      input[type='radio']:checked + label::after {
        background-color: var(--primary);
        transform: scale(0.5);
      }

      input[type='radio']:active {
        opacity: 1;
        transform: scale(0);
        transition: opacity 0s, -webkit-transform 0s;
        transition: opacity 0s, transform 0s;
        transition: opacity 0s, transform 0s, -webkit-transform 0s;
      }

      input[type='radio']:active + label::before {
        border-color: var(--primary);
      }

      label {
        display: flex;
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          width: 1em;
          min-width: 1em;
          height: 1em;
          margin-right: 8px;
          border: solid 1px var(--dark);
          border-radius: 50%;
          vertical-align: -4px;
          transition: border-color 0.5s, background-color 0.5s;
        }

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          width: 1em;
          height: 1em;
          top: 0;
          left: 0;
          border: solid 2px transparent;
          border-radius: 100%;
          transition: transform 0.12s;
          transition: transform 0.12s, -webkit-transform 0.12s;
        }
      }
    }

    &--btn {
      position: relative;
      margin-bottom: 0;

      input[type='radio'] {
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 0;

        & ~ {
          span {
            justify-content: center;
            cursor: pointer;
            display: inline-flex;
            padding: 0 16px;
            line-height: 32px;
            border-radius: 16px;
            background-color: #ffffff;
            font-size: 16px;
            min-width: 206px;

            &:hover {
              background-color: var(--primary);
              color: #ffffff;
            }

            @include screen-min(680px) {
              border-radius: 20px;
              line-height: 40px;
            }
          }
        }

        &:checked {
          & ~ {
            span {
              background-color: var(--primary);
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  &v21 {
    &--hero {
      margin-bottom: 24px;

      &__content {
        border-radius: 4px;
        background-color: #3361b8;
        color: #ffffff;
        padding: 24px 16px 0;

        @include screen-min(767px) {
          padding: 0 28px;
        }
      }

      &__row {
        display: flex;
        flex-direction: column;

        @include screen-min(480px) {
          flex-direction: row-reverse;
        }
      }

      &__figure {
        width: 340px;
        min-width: 340px;

        img {
          display: block;
          width: 336px;
        }
      }

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &--warning {
      &__container {
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
      }

      &__content {
        padding: 16px;
        border-radius: 4px;
        background-color: var(--white);
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 0;
      }

      &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
      }

      &__header {
        width: 48px;
        min-width: 48px;
        max-width: 48px;
      }

      &__icon {
        width: 100%;
        height: 48px;
      }

      &__description {
        font-size: 17px;
        color: #0039a6;
        margin-bottom: 0;
      }
    }

    &--btn {
      border: 0 !important;
      color: #ffffff;
      font-family: 'Omnes';
      font-size: 14px;
      letter-spacing: normal;
      text-align: center;
      text-decoration: none;
      line-height: 48px;
      border-radius: 24px;
      background-color: #05be50;
      display: block;
      padding: 0 30px;
      min-width: 170px;
      width: 100%;

      @include screen-min(480px) {
        width: auto;
        font-size: 16px;
      }

      @include screen-min(767px) {
        padding: 0 36px;
      }

      &__content {
        display: flex;
        justify-content: center;
      }
    }
  }
}
