:root {
  --primary: #00bb31;
  --secondary: #0039a6;
  --blue: #2f4a9f;
  --secondaryrgb: rgb(0, 57, 166);
  --light: #fbfbfb;
  --white: #fff;
  --silver: #d9dadb;
  --gray: #9b9b9b;
  --sky: #ccd7ed;
  --semiwhite: #f3f6fb;
  --skydark: #6688ca;
  --dark: #0f191e;
  --darkrgb: rgb(15, 25, 30);
}

@mixin screen-max($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin screen-min($min) {
  @media (min-width: $min) {
    @content;
  }
}

.mk {
  &-bold {
    font-weight: 700;
  }

  &-semibold {
    font-weight: 500;
  }

  &-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;

    @include screen-max(1023px) {
      padding: 0 24px;
    }
  }

  &-list {
    &--decimal {
      padding-left: 20px;
      list-style: decimal;
    }

    &--disc {
      li {
        position: relative;
        padding-left: 20px;

        &:before {
          display: flex;
          position: absolute;
          content: '·';
          font-size: 30px;
          line-height: 20px;
          left: 6px;
          top: 2px;
        }
      }
    }
  }

  &v2 {
    &--overlay {
      position: fixed;
      bottom: 0;
      left: 0;
      width: auto;
      height: auto;
      z-index: 99;
    }

    &--popup {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 16px 14px;

      @include screen-min(360px) {
        max-width: 360px;
        padding: 0 0 9px 16px;
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
      }

      &__wrapper {
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 4px 10px 0 #9b9b9b;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }

      &__close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;
        z-index: 10;

        &::before,
        &::after {
          content: '';
          display: block;
          background: var(--gray);
          margin-bottom: 4px;
          border-radius: 2px;
          width: 16px;
          height: 2px;
          position: absolute;
          left: 50%;
          top: 0;
          cursor: pointer;
        }

        &::before {
          transform: rotate(45deg) translate(-1px, 10px);
        }

        &::after {
          transform: rotate(-45deg) translate(-10px, -1px);
        }
      }

      &__body {
        width: 100%;
        padding: 24px 32px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include screen-min(360px) {
          padding: 24px 60px 24px;
        }
      }

      &__title {
        color: var(--blue);
        width: 100%;
        font-family: 'Geometria';
        font-size: 16px;
        line-height: 1.15;
        letter-spacing: -1px;
        text-align: center;
        margin-bottom: 12px;

        @include screen-min(360px) {
          margin-bottom: 16px;
          font-size: 20px;
        }
      }

      &__content {
        color: #333;
        font-size: 12px;
        font-family: 'Geometria';
        letter-spacing: -0.1px;
        line-height: 1.15;
        text-align: center;
        width: 90%;
        align-content: center;
        margin-bottom: 16px;

        @include screen-min(360px) {
          font-size: 14px;
        }

        strong {
          font-weight: 600;
        }
      }

      &__btn {
        color: var(--white);
        font-family: 'Geometria';
        font-size: 14px;
        font-weight: 500;
        letter-spacing: normal;
        text-align: center;
        text-decoration: none;
        line-height: 32px;
        border-radius: 20px;
        background-color: #05be50;
        display: block;
        padding: 0 24px;

        @include screen-min(360px) {
          padding: 0 20px;
          line-height: 40px;
          font-size: 16px;
        }
      }

      &__picture {
        &_content {
          width: 100%;
          position: relative;
        }
      }

      &__profile {
        &_content {
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
        }
      }

      &__image {
        &_background {
          width: 100%;
          display: block;
        }

        &_profile {
          position: absolute;
          transform: translateX(-50%);
          width: 76px;
          left: 50%;
          bottom: 0;

          @include screen-min(400px) {
            width: 90px;
          }
        }
      }

      @media (min-width: 360px) {
        &__content {
          width: 80%;
        }
      }
    }
  }
}
