:root {
  --primary: #00bb31;
  --secondary: #0039a6;
  --blue: #2f4a9f;
  --secondaryrgb: rgb(0, 57, 166);
  --light: #fbfbfb;
  --white: #fff;
  --error: #d93549;
  --silver: #d9dadb;
  --gray: #9b9b9b;
  --sky: #ccd7ed;
  --semiwhite: #f3f6fb;
  --skydark: #6688ca;
  --dark: #0f191e;
  --darkrgb: rgb(15, 25, 30);
  --blackrgb: rgb(15, 25, 30);
}

// Checkbox variables
$checkbox-size: 16px;
$checkbox-animation-ripple: 700ms;
$checkbox-animation-check: 0.3s;
$lightbg-text: rgba(0, 0, 0, 0.84);

@mixin screen-max($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin screen-min($min) {
  @media (min-width: $min) {
    @content;
  }
}

.mk {
  &-bold {
    font-family: 'Geometria-Bold', sans-serif;
    font-weight: bold;
  }

  &-semibold {
    font-family: 'Geometria-Medium', sans-serif;
    font-weight: 500;
  }

  &-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;

    @include screen-max(1023px) {
      padding: 0 24px;
    }
  }

  &-sronly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
  }

  &-input {
    &--linebottom {
      font-size: 15px;
      width: 100%;
      display: block;
      line-height: 32px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
    }

    &--error {
      color: var(--error);
      font-size: 12px;
    }
  }

  &-list {
    &--decimal {
      padding-left: 20px;
      list-style: decimal;
    }

    &--disc {
      li {
        position: relative;
        padding-left: 20px;

        &:before {
          display: flex;
          position: absolute;
          content: '·';
          font-size: 30px;
          line-height: 20px;
          left: 6px;
          top: 2px;
        }
      }
    }
  }

  &-radio {
    &--material {
      display: flex;
      position: relative;
      font-size: 15px;
      margin-bottom: 12px;

      input[type='radio'] {
        font-size: 1.25em;
        margin: 0;
        z-index: -1;
        appearance: none;
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        left: 0;
        top: 0;
        border: solid 2px transparent;
        transform: scale(2);
        transform-origin: center center;
        opacity: 0;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
      }

      input[type='radio']:focus {
        outline: none;
      }

      input[type='radio']:checked {
        background-color: var(--primary);
      }

      input[type='radio']:checked + label::before {
        border-color: var(--primary);
      }

      input[type='radio']:checked + label::after {
        background-color: var(--primary);
        transform: scale(0.5);
      }

      input[type='radio']:active {
        opacity: 1;
        transform: scale(0);
        transition: opacity 0s, -webkit-transform 0s;
        transition: opacity 0s, transform 0s;
        transition: opacity 0s, transform 0s, -webkit-transform 0s;
      }

      input[type='radio']:active + label::before {
        border-color: var(--primary);
      }

      label {
        display: flex;
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          width: 1em;
          min-width: 1em;
          height: 1em;
          margin-right: 8px;
          border: solid 1px var(--dark);
          border-radius: 50%;
          vertical-align: -4px;
          transition: border-color 0.5s, background-color 0.5s;
        }

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          width: 1em;
          height: 1em;
          top: 0;
          left: 0;
          border: solid 2px transparent;
          border-radius: 100%;
          transition: transform 0.12s;
          transition: transform 0.12s, -webkit-transform 0.12s;
        }
      }
    }
  }

  &v10 {
    &--overlay {
      background-color: rgba(0, 0, 0, 0.4);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: 99;
    }

    &--popup {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 16px;

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
      }

      &__wrapper {
        overflow: hidden;
        width: 100%;
        max-width: 720px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 4px 10px 0 #9b9b9b;
      }

      &_result {
        &__wrapper {
          position: relative;
          padding: 40px 18px;
          overflow: hidden;
          width: 100%;
          max-width: 500px;
          border-radius: 8px;
          background: #fff;
          box-shadow: 0 4px 10px 0 #9b9b9b;

          @include screen-min(480px) {
            padding: 64px 18px;
            border-radius: 10px;
          }
        }

        &__header {
          top: 18px;
          right: 18px;
          position: absolute;
          display: flex;
          justify-content: flex-end;

          @include screen-min(480px) {
            top: 32px;
            right: 32px;
          }
        }

        &__close {
          height: 16px;
          width: 16px;

          &::before,
          &::after {
            content: '';
            display: block;
            background: var(--gray);
            margin-bottom: 4px;
            border-radius: 2px;
            width: 20px;
            height: 2px;
            position: absolute;
            left: 50%;
            top: 0;
            cursor: pointer;
          }

          &::before {
            transform: rotate(45deg) translate(-1px, 10px);
          }

          &::after {
            transform: rotate(-45deg) translate(-10px, -1px);
          }
        }

        &__content {
        }

        &__row {
          display: flex;
          flex-wrap: wrap;
        }

        &__text {
          width: 100%;
          min-width: 100%;

          @include screen-max(479px) {
            margin-bottom: 24px;
          }

          @include screen-min(480px) {
            width: 75%;
            min-width: 75%;
          }
        }

        &__title {
          font-size: 20px;
          font-weight: 700;
          text-align: center;
          margin-bottom: 10px;
          color: var(--secondary);

          @include screen-min(480px) {
            margin-bottom: 16px;
            font-size: 32px;
          }
        }

        &__br {
          @include screen-min(480px) {
            display: none;
          }
        }

        &__icon {
          text-align: center;
          min-width: 100%;

          @include screen-min(480px) {
            width: 25%;
            min-width: 25%;
          }
        }

        &__paragraph {
          text-align: center;
          font-size: 14px;

          @include screen-min(480px) {
            font-size: 16px;
          }
        }

        &__image {
          width: 100%;
        }
      }

      &__grid {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 48px 24px;

        @include screen-min(480px) {
          padding: 72px 64px;
        }
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 0 0 1;
        max-width: 100%;
        min-width: 100%;
      }

      &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 16px;
        height: 16px;
        z-index: 10;

        &::before,
        &::after {
          content: '';
          display: block;
          background: var(--gray);
          margin-bottom: 4px;
          border-radius: 2px;
          width: 20px;
          height: 2px;
          position: absolute;
          left: 50%;
          top: 0;
          cursor: pointer;

          @include screen-min(480px) {
            background: var(--gray);
          }
        }

        &::before {
          transform: rotate(45deg) translate(-1px, 10px);
        }

        &::after {
          transform: rotate(-45deg) translate(-10px, -1px);
        }

        @include screen-min(480px) {
          top: 32px;
          right: 32px;
        }
      }

      &__section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;

        @include screen-min(480px) {
          gap: 48px;
          grid-template-columns: 3fr 4fr;
        }
      }

      &__img {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_sm {
          display: flex;
          padding: 0 28px 32px;

          @include screen-min(480px) {
            display: none;
          }
        }

        &_lg {
          display: none;

          @include screen-min(480px) {
            display: flex;
          }
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__title {
        color: var(--blue);
        width: 100%;
        font-family: 'Geometria';
        line-height: 1.15;
        font-size: 18px;
        margin-bottom: 16px;

        @include screen-min(560px) {
          margin-bottom: 16px;
          font-size: 22px;
        }

        @include screen-min(767px) {
          margin-bottom: 36px;
          font-size: 32px;
        }
      }

      &__content {
        color: #333;
        font-size: 14px;
        font-family: 'Geometria';
        letter-spacing: -0.1px;
        line-height: 1.5;
        align-content: center;
        margin-bottom: 32px;

        @include screen-min(767px) {
          margin-bottom: 24px;
          font-size: 16px;
        }

        strong {
          font-weight: 600;
        }
      }

      &__btn {
        border: 0;
        color: var(--white);
        font-family: 'Geometria';
        font-size: 16px;
        letter-spacing: normal;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        border-radius: 20px;
        background-color: #05be50;
        display: block;
        padding: 0 30px;
        min-width: 140px;

        @include screen-min(7670px) {
          padding: 0 36px;
          border-radius: 24px;
          line-height: 48px;
        }

        &_content {
          display: flex;
          justify-content: center;

          @include screen-min(480px) {
            justify-content: flex-end;
          }
        }
      }

      &__picture {
        @include screen-min(480px) {
          width: 100%;
          display: flex;
        }

        &_content {
          width: 100%;
          position: relative;

          @include screen-min(480px) {
            height: 100%;
            display: flex;
          }
        }
      }

      &__profile {
        &_content {
          width: 100%;
          position: relative;
        }
      }

      &__image {
        &_background {
          width: 100%;
          height: auto;
        }

        &_profile {
          position: absolute;
          transform: translateX(-50%);
          width: 64px;
          left: 50%;
          bottom: 0;

          @include screen-min(480px) {
            width: 90px;
          }
        }
      }
    }

    &--form {
      &__content {
        width: 100%;
      }

      &__row {
        position: relative;
        margin-bottom: 48px;
      }
    }
  }

  &-checkbox {
    display: inline-block;
    transform: translateZ(0);

    &--label {
      font-size: 12px;
      line-height: 1.2;
      font-weight: 500;
      display: flex;
      cursor: pointer;
      padding-left: 0;

      a {
        color: var(--primary);
      }
    }

    input[type='checkbox'] {
      opacity: 0;
      position: absolute;
      margin: 0;
      z-index: -1;
      width: 0;
      height: 0;
      overflow: hidden;
      left: 0;
      pointer-events: none;
    }

    .mk-checkbox-material {
      vertical-align: middle;
      position: relative;
      top: 2px;
      margin-right: 6px;

      &:before {
        position: absolute;
        left: 6px;
        top: 6px;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        height: 4px;
        width: 4px;
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0;
      }

      .check {
        position: relative;
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;
        border: 2px solid var(--dark);
        border-radius: 2px;
        overflow: hidden;
        z-index: 1;

        &::before {
          position: absolute;
          content: '';
          transform: rotate(45deg);
          display: block;
          margin-top: -6px;
          margin-left: 4px;
          width: 0;
          height: 0;
          box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0,
            0 0 0 0 inset;
          animation: checkbox-off $checkbox-animation-check forwards ease-out;
        }
      }
    }

    input[type='checkbox']:focus + .mk-checkbox-material .check:after {
      opacity: 0.2;
    }

    input[type='checkbox']:checked + .mk-checkbox-material .check:before {
      box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px,
        0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
      animation: checkbox-on $checkbox-animation-check forwards ease-out;
    }

    input[type='checkbox']:not(:checked) + .mk-checkbox-material:before {
      animation: rippleOff $checkbox-animation-ripple forwards ease-out;
    }

    input[type='checkbox']:checked + .mk-checkbox-material:before {
      animation: rippleOn $checkbox-animation-ripple forwards ease-out;
    }

    input[type='checkbox']:not(:checked) + .mk-checkbox-material .check:after {
      animation: rippleOff $checkbox-animation-ripple forwards ease-out;
    }

    input[type='checkbox']:checked + .mk-checkbox-material .check:after {
      animation: rippleOn $checkbox-animation-ripple forwards ease-out;
    }

    input[type='checkbox']:checked + .mk-checkbox-material .check {
      border-color: var(--primary);
    }

    input[type='checkbox'][disabled]:not(:checked)
      ~ .mk-checkbox-material
      .check:before,
    input[type='checkbox'][disabled] + .circle {
      opacity: 0.5;
    }
    input[type='checkbox'][disabled] + .mk-checkbox-material .check:after {
      background-color: $lightbg-text;
      transform: rotate(-45deg);
    }
  }

  &-coloured {
    .mk-checkbox-material {
      .check {
        color: var(--primary);
      }

      &:before {
        background-color: var(--primary);
      }
    }

    input[type='checkbox']:checked + .mk-checkbox-material {
      .check {
        color: var(--primary);
      }
    }
    input[type='checkbox']:not(:checked) + .mk-checkbox-material {
    }
  }
}

// Animations
@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
      -5px 5px 0 10px, 15px 2px 0 11px;
  }

  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
      -5px 5px 0 10px, 20px 2px 0 11px;
  }

  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
      -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
      -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }

  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
      -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }

  50% {
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
      -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }

  51% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0,
      0px 0px 0 10px inset;
  }

  100% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0,
      0px 0px 0 0px inset;
  }
}

@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}

@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
