:root {
  --primary: #05be50;
  --secondary: #0039a6;
  --blue: #2f4a9f;
  --secondaryrgb: rgb(0, 57, 166);
  --light: #fbfbfb;
  --white: #fff;
  --silver: #d9dadb;
  --gray: #9b9b9b;
  --sky: #ccd7ed;
  --semiwhite: #f3f6fb;
  --skydark: #6688ca;
  --dark: #404040;
  --darkrgb: rgb(15, 25, 30);
  --blackrgb: rgb(15, 25, 30);
}

.mk-bold {
  font-weight: 700;
}
.mk-semibold {
  font-weight: 500;
}
.mk-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1066px;
}
@media (max-width: 1023px) {
  .mk-container {
    padding: 0 24px;
  }
}
.mkv31 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
.mkv31--wrapper {
  width: 100%;
  max-width: 965px;
}
