:root {
  --primary: #05be50;
  --secondary: #0039a6;
  --blue: #2f4a9f;
  --secondaryrgb: rgb(0, 57, 166);
  --light: #fbfbfb;
  --white: #fff;
  --silver: #d9dadb;
  --gray: #9b9b9b;
  --sky: #ccd7ed;
  --semiwhite: #f3f6fb;
  --skydark: #6688ca;
  --dark: #404040;
  --darkrgb: rgb(15, 25, 30);
  --blackrgb: rgb(15, 25, 30);
}

.mk-bold {
  font-weight: 700;
}
.mk-semibold {
  font-weight: 500;
}
.mk-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1066px;
}
@media (max-width: 1023px) {
  .mk-container {
    padding: 0 24px;
  }
}
.mkv31 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
.mkv31--wrapper {
  width: 100%;
  max-width: 965px;
}
.mkv31-container {
  background-color: #0039a6;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 12px;
}
.mkv31-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
}
.mkv31-excerpt {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.mkv31-button {
  width: 100%;
  padding: 12px 0;
}
@media (min-width: 481px) {
  .mkv31-button {
    width: 204px;
    min-width: 204px;
    padding-right: 20px;
  }
}
.mkv31-btn {
  font-family: "Geometria";
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  width: 100%;
  height: 48px;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  color: #001e5f;
}
.mkv31-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 481px) {
  .mkv31-row {
    flex-direction: row;
    align-items: center;
  }
}
.mkv31-image {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  width: 100%;
}
@media (min-width: 481px) {
  .mkv31-image {
    width: 170px;
    min-width: 170px;
  }
}
.mkv31-img {
  width: 170px;
}
