:root {
  --primary: #05be50;
  --secondary: #0039a6;
  --blue: #2f4a9f;
  --secondaryrgb: rgb(0, 57, 166);
  --light: #fbfbfb;
  --white: #fff;
  --silver: #d9dadb;
  --gray: #9b9b9b;
  --sky: #ccd7ed;
  --semiwhite: #f3f6fb;
  --skydark: #6688ca;
  --dark: #404040;
  --darkrgb: rgb(15, 25, 30);
  --blackrgb: rgb(15, 25, 30);
}

@mixin screen-max($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin screen-min($min) {
  @media (min-width: $min) {
    @content;
  }
}

.mk {
  &-bold {
    font-weight: 700;
  }

  &-semibold {
    font-weight: 500;
  }

  &-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;

    @include screen-max(1023px) {
      padding: 0 24px;
    }
  }

  &v31 {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
    }

    &--wrapper {
      width: 100%;
      max-width: 965px;

      @include screen-min(480px) {
      }

      &__content {
        @include screen-min(481px) {
        }
      }
    }

    &-container {
      background-color: #0039a6;
      color: white;
      border-radius: 5px;
      overflow: hidden;
      padding: 0 12px;
    }

    &-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 12px;
      font-family: "Montserrat", sans-serif;
    }

    &-excerpt {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      line-height: 24px;
    }

    &-button {
      width: 100%;
      padding: 12px 0;

      @include screen-min(481px) {
        width: 204px;
        min-width: 204px;
        padding-right: 20px;
      }
    }

    &-btn {
      font-family: "Geometria";
      font-weight: 500;

      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      width: 100%;
      height: 48px;
      background-color: white;
      border-radius: 5px;
      font-size: 14px;
      color: #001e5f;
    }

    &-row {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include screen-min(481px) {
        flex-direction: row;
        align-items: center;
      }
    }

    &-image {
      display: flex;
      justify-content: center;
      padding-top: 12px;
      width: 100%;

      @include screen-min(481px) {
        width: 170px;
        min-width: 170px;
      }
    }

    &-img {
      width: 170px;
    }
  }
}
