:root {
  --primary: #05be50;
  --secondary: #0039a6;
  --blue: #2f4a9f;
  --light: #fbfbfb;
  --white: #fff;
  --acqua: #cdf2dc;
  --silver: #d9dadb;
  --yellow: #ff9100;
  --gray: #979797;
  --sky: #ccd7ed;
  --semiwhite: #f3f6fb;
  --skydark: #6688ca;
  --dark: #0f191e;
  --black: #000;
  --blackrgb: rgb(15, 25, 30);
}

@mixin screen-max($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin screen-min($min) {
  @media (min-width: $min) {
    @content;
  }
}

.mk {
  &-bold {
    font-weight: 700;
  }

  &-semibold {
    font-weight: 500;
  }

  &-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;

    @include screen-max(1023px) {
      padding: 0 24px;
    }
  }

  &-ipt {
    &__text {
      resize: none;
      display: block;
      width: 100%;
      background-color: transparent;
      border-width: 0 0 1px;
      border-color: var(--primary);
      border-style: solid;
      color: var(--blue);
      font-size: 14px;
      line-height: 16px;

      &::placeholder {
        color: var(--blue);
      }
    }
  }

  &-radio {
    &--btn {
      position: relative;
      margin-bottom: 0;
      display: block;

      input[type='radio'] {
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 0;

        & ~ {
          span {
            justify-content: center;
            cursor: pointer;
            display: inline-flex;
            padding: 0 12px;
            line-height: 32px;
            border-radius: 16px;
            background-color: #ffffff;
            font-size: 14px;
            width: 100%;
            letter-spacing: -0.5px;

            &:hover {
              background-color: var(--primary);
              color: #ffffff;
            }

            @include screen-min(680px) {
              border-radius: 20px;
              line-height: 40px;
            }
          }
        }

        &:checked {
          & ~ {
            span {
              background-color: var(--primary);
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  &v47 {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
    }

    &-demo {
      &--container {
        margin: 0 auto;
        width: 100%;
        max-width: 760px;
        padding: 0 20px;
      }

      &--header {
        padding: 14px 0;
      }

      &--specials {
        background-color: var(--blue);
        color: var(--white);
        padding: 6px 0;
      }
    }

    &--overlay {
      background-color: rgba(0, 0, 0, 0.2);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: 99;
    }
  }
}
