:root {
  --primary: #05be50;
  --secondary: #0039a6;
  --blue: #2f4a9f;
  --secondaryrgb: rgb(0, 57, 166);
  --light: #fbfbfb;
  --white: #fff;
  --silver: #d9dadb;
  --gray: #9b9b9b;
  --sky: #ccd7ed;
  --semiwhite: #f3f6fb;
  --skydark: #6688ca;
  --dark: #404040;
  --darkrgb: rgb(15, 25, 30);
  --blackrgb: rgb(15, 25, 30);
}

@mixin screen-max($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin screen-min($min) {
  @media (min-width: $min) {
    @content;
  }
}

.mk {
  &-bold {
    font-weight: 700;
  }

  &-semibold {
    font-weight: 500;
  }

  &-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1066px;

    @include screen-max(1023px) {
      padding: 0 24px;
    }
  }

  &v36 {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
    }

    &--overlay {
      background-color: rgba(0, 0, 0, 0.4);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: 99;
    }

    &--popup {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 16px;
    }

    &--tooltip {
      width: 100%;
      max-width: 344px;
    }

    &--wrapper {
      background-color: var(--white);
      overflow: hidden;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

      &__content {
        padding: 24px;

        @include screen-min(481px) {
          padding: 32px;
        }
      }
    }

    &--header,
    &--body {
      position: relative;
    }

    &--header {
      margin-bottom: 24px;
      text-align: center;
    }

    &--close {
      position: relative;
      width: 24px;
      height: 24px;
      z-index: 10;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        display: block;
        background: var(--dark);
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 2px;
        position: absolute;
        left: 50%;
        top: 0;
      }

      &::before {
        transform: rotate(45deg) translate(-1px, 18px);
      }

      &::after {
        transform: rotate(-45deg) translate(-18px, -1px);
      }

      &__row {
        display: flex;
        justify-content: flex-end;
      }
    }

    &--title {
      font-family: 'Geometria', sans-serif;
      color: #2f4a9f;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.4px;
      font-weight: 500;
      margin-bottom: 20px;

      @include screen-min(481px) {
        font-size: 28px;
        line-height: 32px;
      }
    }

    &--text {
      font-family: 'Geometria', sans-serif;
      color: #2f4a9f;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;

      &__semibold {
        font-weight: 600;
      }
    }

    &--body {
    }

    &--form {
      &__row {
        display: grid;
        gap: 12px;
        padding: 0 32px;
      }
    }

    &--input {
      display: grid;
      gap: 6px;
      grid-template-columns: 28px auto;

      &__bar {
      }

      &__label {
        position: relative;
        display: block;
        width: 100%;
      }

      &__radio {
        position: absolute;
        visibility: hidden;
        left: 0;
        top: 0;
        z-index: -1;

        &:checked {
          & + .mkv36--input__span {
            background-color: #cdf2dc;
            color: #05be50;
          }
        }
      }

      &__span {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        border-radius: 20px;
        width: 100%;
        background-color: #eceded;
        font-family: 'Montserrat', sans-serif;
        padding: 12px;
        color: #3c3c3c;
        font-size: 14px;
        line-height: 20px;
        transition: all 150ms ease-in-out;
        letter-spacing: -0.1px;
      }
    }

    &--btn {
      background-color: var(--primary);
      color: var(--white);
      font-family: 'Geometria';
      font-size: 14px;
      line-height: 40px;
      letter-spacing: normal;
      font-weight: 500;
      text-decoration: none;
      white-space: nowrap;
      display: inline-flex;
      justify-content: center;
      width: 100%;
      border-radius: 4px;
      padding: 0 28px;
    }

    &--bar {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__line {
        position: relative;
        height: 100%;
        width: 6px;
      }

      &__sign {
        width: 28px;
        height: 28px;
        border-radius: 14px;
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);

        &::after,
        &::before {
          position: absolute;
          content: '';
          background-color: var(--white);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 2px;
        }

        &::after {
          width: 12px;
          height: 4px;
        }

        &::before {
          height: 12px;
          width: 4px;
        }
      }
    }

    &--col {
      &:nth-child(1) {
        .mkv36--bar__line {
          background-color: #05be50;
        }

        .mkv36--bar__sign {
          background-color: #05be50;
        }
      }

      &:nth-child(2) {
        .mkv36--bar__line {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#05be50+0,37cb73+100 */
          background: #05be50;
          background: -moz-linear-gradient(
            top,
            #05be50 0%,
            #37cb73 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #05be50 0%, #37cb73 100%);
          background: linear-gradient(to bottom, #05be50 0%, #37cb73 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05be50', endColorstr='#37cb73',GradientType=0 );
        }
      }

      &:nth-child(3) {
        .mkv36--bar__line {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#37cb73+0,ffcd00+100 */
          background: #37cb73;
          background: -moz-linear-gradient(top, #37cb73 0%, #ffcd00 100%);
          background: -webkit-linear-gradient(top, #37cb73 0%, #ffcd00 100%);
          background: linear-gradient(to bottom, #37cb73 0%, #ffcd00 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37cb73', endColorstr='#ffcd00',GradientType=0 );
        }
      }

      &:nth-child(4) {
        .mkv36--bar__line {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffcd00+0,f99100+100 */
          background: #ffcd00;
          background: -moz-linear-gradient(top, #ffcd00 0%, #f99100 100%);
          background: -webkit-linear-gradient(top, #ffcd00 0%, #f99100 100%);
          background: linear-gradient(to bottom, #ffcd00 0%, #f99100 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd00', endColorstr='#f99100',GradientType=0 );
        }
      }

      &:nth-child(5) {
        .mkv36--bar__line {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f99100+0,eb0045+100 */
          background: #f99100;
          background: -moz-linear-gradient(top, #f99100 0%, #eb0045 100%);
          background: -webkit-linear-gradient(top, #f99100 0%, #eb0045 100%);
          background: linear-gradient(to bottom, #f99100 0%, #eb0045 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99100', endColorstr='#eb0045',GradientType=0 );
        }

        .mkv36--bar__sign {
          background-color: #eb0245;
          right: 0;
          bottom: 0;

          &::before {
            display: none;
          }
        }
      }
    }

    &--footer {
      &__row {
        display: flex;
        justify-content: center;
      }
    }

    &--button {
      position: fixed;
      z-index: 100;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;

      @include screen-min(481px) {
        bottom: 40px;
        right: 48px;
        left: auto;
        width: auto;
      }

      &__content {
        position: relative;
      }

      &__btn {
        font-family: 'Geometria';
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #0039a6;
        color: var(--white);
        line-height: 40px;
        gap: 6px;
        font-size: 16px;
        padding: 0 24px;
        font-weight: 500;
        cursor: pointer;
        width: 100%;

        @include screen-min(481px) {
          border-radius: 20px;
          width: auto;
        }
      }
    }

    &--floating {
      position: absolute;
      bottom: 100%;
      width: 100vw;
      padding: 12px 12px 20px;
      display: none;

      &.active {
        display: block;
      }

      @include screen-min(481px) {
        right: -12px;
        max-width: 368px;
      }

      &__content {
        position: relative;

        &::after,
        &::before {
          display: block;
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          top: 100%;
        }

        &::after {
          z-index: 2;
          right: 46px;
          border-style: solid;
          border-width: 12px 8px 0 8px;
          border-color: #ffffff transparent transparent transparent;
        }

        &::before {
          z-index: 1;
          right: 43px;
          border-style: solid;
          border-width: 18px 11px 0 11px;
          border-color: rgba(0, 0, 0, 0.05) transparent transparent transparent;
        }
      }
    }

    &--loading {
      color: #2f4a9f;
    }

    &--response {
      background-color: #fff;

      &__container {
        bottom: 100%;
        width: 100vw;
        padding: 12px 12px 20px;

        @include screen-min(481px) {
          right: -12px;
          max-width: 368px;
        }
      }

      &__content {
        background-color: var(--white);
        padding: 24px 32px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
      }

      &__title {
        text-align: center;
      }
    }
  }
}
